<h1>Productos</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong> - ${{this.price}}
      <a href="/products/{{this._id}}">Ver detalle</a>
      <form action="/api/carts/{{../cartId}}/products/{{this._id}}" method="post">
        <button>Agregar al carrito</button>
      </form>
    </li>
  {{/each}}
</ul>

{{#if hasPrevPage}}
  <a href="{{prevLink}}">⬅ Anterior</a>
{{/if}}

{{#if hasNextPage}}
  <a href="{{nextLink}}">Siguiente ➡</a>
{{/if}}
